<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <img alt="JACKFRUIT" class="img-responsive text-center" src="modules/core/img/brand/logo.png"/>
            </div>
        </div>
        <br>

        <div class="row">
            <p class="lead">
                「流连」应用数据管理系统
            </p>
        </div>
        <div class="row">
            <p>
                <a data-ng-hide="authentication.user" class="btn btn-primary btn-lg" href="/#!/signin">登入</a>
            </p>
        </div>
    </div>


</section>
