<section data-ng-controller="ScenicSpotsController" data-ng-init="findOne();initUpdateUploadController()">
    <div class="page-header">
        <h1 data-ng-bind="scenicSpot.name"></h1>
    </div>

    <label>执行地名称:</label>
    <input type="text" class="form-control" style="width:20%" placeholder="执行地名称"
           ng-model="scenicSpot.name">

    <label>经纬度:</label>
    <input type="number" step="0.01" class="form-control" style="width:20%" placeholder="经度"
           ng-model="scenicSpot.location.lng">
    <input type="number" step="0.01" class="form-control" style="width:20%" placeholder="纬度"
           ng-model="scenicSpot.location.lat">
    <br/>
    <label>执行地简介:</label>
                <textarea type="text" class="form-control" style="height: 100px"
                          data-ng-model="scenicSpot.recommandReason" rows="4"></textarea>
    <br/>
    <label>电话:</label>
    <input type="text" class="form-control" style="width:20%" placeholder="电话"
           ng-model="scenicSpot.telephone">
    <label>地址:</label>
    <input type="text" class="form-control" style="width:40%" placeholder="地址"
           ng-model="scenicSpot.address">
    <br/>
    <label>交通信息：</label>
                    <textarea type="text" class="form-control" style="height: 100px"
                              data-ng-model="scenicSpot.detail_info.transportation_info" rows="4"></textarea>
    <br/>
    <label>小贴士:</label>
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tipsModal">
        <i class="glyphicon glyphicon-info-sign"></i>
        <span>添加一条小贴士</span>
    </button>

    <ul class="list-group" style="margin-top: 10px">
        <li class="list-group-item repeat" ng-repeat="tip in scenicSpot.tips">
            <button type="button" class="close" ng-click="deleteTip($index, 'update')">&times;</button>
            <input style="width:90%" ng-model="tip.text">
        </li>
    </ul>

    <!-- Tips Modal -->
    <div class="modal fade" id="tipsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">小贴士</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" data-ng-model="newTip">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTip('update')">
                        添加
                    </button>
                </div>
            </div>
        </div>
    </div>
    <label>执行地封面:</label>
    <img class="thumbnail" style="height: 200px;width:250px"
         src="http://7xijtn.com1.z0.glb.clouddn.com/{{scenicSpot.coverUrl}}" alt="图片无法显示，请速联系管理员。">

    <div id="container" style="margin-top: 20px">
        <input type="hidden" id="domain" value="public-img.siyee.org">
        <input type="hidden" id="uptoken_url" value="/qiniu/city-image-upload-token">
        <button class="btn-default" id="pickfiles">
            <i class="glyphicon glyphicon-picture"></i>
            <sapn>添加图片</sapn>
        </button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3" data-ng-repeat="picture in scenicSpot.pictures">
                <a ng-click="selectImg(picture.coverUrl)" data-toggle="modal" data-target="#imageModal">
                    <img class="thumbnail" style="height: 200px;width:250px"
                         src="http://7xijtn.com1.z0.glb.clouddn.com/{{picture.coverUrl}}" alt="图片无法显示，请速联系管理员。">
                </a>
                <i class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removePicture(picture.id)"></i>
                <button class="button btn-sm btn-info pull-right" ng-click="setCoverUrl(picture.coverUrl, scenicSpot)">设为执行地封面</button>
                <button ng-show="!picture.isOnMainPage" class="button btn-sm btn-info pull-right" ng-click="setOnMainPage(picture.id, true)">在首页显示</button>
                <button ng-show="picture.isOnMainPage" class="button btn-sm btn-info pull-right" ng-click="setOnMainPage(picture.id, false)">取消在首页显示</button>
            </div>
        </div>

        <div style="display:none" id="success" class="col-md-12">
            <div class="alert-success">
                队列全部文件处理完毕
            </div>
        </div>
        <div class="col-md-12 ">
            <table class="table table-striped table-hover text-left" style="margin-top:40px;display:none">
                <thead>
                <tr>
                    <th class="col-md-4">Filename</th>
                    <th class="col-md-2">Size</th>
                    <th class="col-md-6">Detail</th>
                </tr>
                </thead>
                <tbody id="fsUploadProgress">
                </tbody>
            </table>
        </div>
    </div>

    <!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">查看图片({{selectedImgWidth}} * {{ selectedImageHeight}})</h4>
                </div>
                <div class="modal-body">
                    <img src="{{selectedImg}}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        好的
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <button class="btn btn btn-success" ng-click="update();">
            <i class="glyphicon glyphicon-refresh"></i>
            <span>更新执行地</span>
        </button>
        <div style="display: inline" ng-show="authentication.user.roles.indexOf('admin') !== -1">
            <span>|</span>
            <button ng-show="scenicSpot.checked !== 'pass'" class="btn btn btn-success"
                    ng-click="checkScenicSpot('pass');">
                <i class="glyphicon glyphicon-ok-circle"></i>
                <span>审核通过</span>
            </button>
            <button ng-show="scenicSpot.checked !== 'deny'" class="btn btn-warning" ng-click="checkScenicSpot('deny');">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>不合格</span>
            </button>
            <button class="btn btn-danger" ng-click="remove();">
                <i class="glyphicon glyphicon-remove"></i>
                <span>删除该执行地</span>
            </button>
        </div>


    </div>
    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
</section>
