<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Ethan Wu">
    <title>活动已结束</title>
    <link href="//cdn.bootcss.com/jquery-mobile/1.4.4/jquery.mobile.min.css" rel="stylesheet">
    <link href="/css/activity/instant-purchase.css" rel="stylesheet">
</head>

<body>
<!-- Begin page content -->
<div data-role="page" id="end-page">
    <img class="ended-icon" src="http://public-img.siyee.org/1218/bg_over.png">
    <p class="right-claim">活动已结束，感谢您对「玩鲜」的关注！</p>
    <button class="sendToApp down" id="goToApp">确定</button>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-mobile/1.4.4/jquery.mobile.min.js"></script>
<script>
    $(document).ready(function () {
        $("#goToApp").bind("click", function () {
            //此处为客户端注入的数据以完成app内部的数据交互。
            if (window.webkit) {
                window.webkit.messageHandlers.playbutton.postMessage('end-of-event');
            } else {
                window.JSInterface.postMessage('end-of-event');
            }
        });
    });
</script>
</html>
