<!doctype html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>活动规则</title>
    <link href="//cdn.bootcss.com/jquery-mobile/1.4.4/jquery.mobile.min.css" rel="stylesheet">
    <link href="/css/activity/instant-purchase.css" rel="stylesheet">
</head>
<body>

<div data-role="page" id="activity-introduction">
    <div role="main" class="ui-content">
        <h1 class="theme-red">岁末嗨翻天，超给力玩鲜携豪礼陪你跨年</h1>
        <table data-role="table" id="introduction-table" data-mode="column">
            <tbody>
            <tr>
                <td class="row-name">活动时间：</td>
                <td>12月31日20:00-20:30</td>
            </tr>
            <tr>
                <td class="row-name">活动简介：</td>
                <td>
                    为了庆祝玩鲜的正式发布，以及广大小伙伴们的鼎力支持，更为了对入住我们玩鲜星球的居民们表达我们最真诚的欢迎，土豪老板卖肾大放血，决定在元旦前夕，给大家带来这个豪破天际，让你光想想内心就有点小激动的“抢鲜”活动！速速入住玩鲜，星球小伙伴陪你跨年！
                </td>
            </tr>
            <tr>
                <td class="row-name">参与方式：</td>
                <td>
                    <p>
                        活动期间或在此之前下载安装并成功登录APP者，均能参与抢鲜活动，更有机会获得玩鲜星球为你准备的超给力终极大奖。每位用户下载并注册登陆后，可获得一次抽奖机会(每个手机号只有一次哦)。获奖后，用户在APP内会自动领取一个“玩鲜领奖任务卡”，在玩鲜盒子页面中可以查看，用户去到此任务卡上的相应地点即可领取相应奖品。
                    </p>
                </td>
            </tr>
            <tr>
                <td class="row-name">活动奖品：</td>
                <td><p>一等奖：apple watch;（10只）</p>

                    <p>二等奖：小米手环;（300只）</p>
                </td>
            </tr>

            </tbody>
        </table>
        <a class="back" href="/activities/instant-purchase">返回上一页</a>

        <p class="right-claim">玩鲜团队保留此次活动的最终解释权。</p>
    </div>
</div>

</body>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-mobile/1.4.4/jquery.mobile.min.js"></script>
</html>
