<section data-ng-controller="ScenicAreasController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="scenicArea.name"></h1>
	</div>
    <div class="col-md-12">
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">景区名称</label>

                    <div class="controls">
                        <input type="text" data-ng-model="scenicArea.name" id="name" class="form-control" placeholder="景区名称"
                               required>
                    </div>
                    <label class="control-label" for="introduction">景区简介</label>

                    <div class="controls">
                        <textarea type="text" data-ng-model="scenicArea.introduction" id="introduction" class="form-control"
                                  placeholder="景区简介" required></textarea>
                    </div>

                    <label class="control-label" for="hotRating">景区热度</label>

                    <div class="controls">
                        <input type="text" style="width: 20%" data-ng-model="scenicArea.hotRating" id="hotRating"
                               class="form-control" placeholder="热度排名" required>
                    </div>
                    <label class="control-label" for="name">包含城市</label>
                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addCityModal">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>添加城市</span></button>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>城市</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="city in scenicArea.cities">
                        <td>{{city.name}}</td>
                        <td>
                            <button class="btn btn-sm btn-danger" ng-click="removeCity('update',city.id)">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>删除</span>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <button class="btn btn btn-success" ng-click="update();">
                        <i class="glyphicon glyphicon-refresh"></i>
                        <span>更新景区</span></button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
        <!-- Modal -->
        <div class="modal fade" ng-init="getProvinces()" id="addCityModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加城市</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-3">
                            <select class="form-control" ng-model="cityToUpdate.selectedProvince" ng-change="getCities(cityToUpdate.selectedProvince.id)"
                                    ng-options="province as province.name for province in provinces">
                                <option value="">-- 请选择省份/州 --</option>
                            </select>
                        </div>
                        <div class="col-md-3" ng-if="cities">
                            <select class="form-control" ng-model="cityToUpdate.selectedCity"
                                    ng-options="city as city.name for city in cities">
                                <option value="city.name">-- 请选择城市/州 --</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addCity('update')">
                            添加
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
