<section data-ng-controller="CitiesController"
         data-ng-init="findOne();getAreasByCityId();initUpdateUploadController();">
    <div class="container">
        <div class="page-header">
            <h1>{{city.name}}</h1>
        </div>
        <div class="white-card">
            <label>热度:</label>
            <input type="number" class="form-control" style="width:20%" placeholder="热度"
                   ng-model="city.hotRating">
            <br/>
            <label>所含区域:&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <button class="btn btn btn-success" data-toggle="modal" data-target="#addArea">
                <span>添加区域</span>
            </button>
            <table  class="table table-striped table-bordered" style="max-width:450px;margin-left:15px;margin-top:15px;">
                <tr ng-repeat="area in areas" >
                    <td>
                        <span>{{area.name}}</span>
                        <button  class="btn-info" data-toggle="modal" style="float:right" data-target="#editArea" ng-click="selectArea(area)">编辑</button>
                        <!--<button  class="btn-danger" style="float:right" ng-click="deleteArea(area)">删除</button>-->
                    </td>
                </tr>
            </table>
            <br/>
            <div class="modal fade" id="addArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">添加新的区域</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" data-ng-model="newArea.name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewArea()">
                                添加
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">编辑区域</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" value="新区域名" data-ng-model="selectArea.name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editArea(selectArea)">
                                更新
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <label>城市简介</label>
            <textarea type="text" class="form-control" placeholder="城市简介"
                      ng-model="city.introduction" rows="4"></textarea>
            <br/>

            <label>必尝美食</label>
            <input type="text" class="form-control" placeholder="必尝美食"
                   ng-model="city.specialFood">
            <br/>

            <label>特色纪念品</label>
            <input type="text" class="form-control" placeholder="特色纪念品"
                   ng-model="city.souvenir">
            <br/>

            <label>必做的事:</label>
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addThingsMustDoModal">
                <i class="glyphicon glyphicon-flag"></i>
                <span>添加一条必做的事</span>
            </button>

            <ul class="list-group" style="margin-top: 10px">
                <li class="list-group-item repeat" ng-repeat="thing in city.thingsMustDo">
                    <button type="button" class="close" ng-click="deleteThingsMustDo($index, 'update')">&times;</button>
                    <input ng-model="thing.text">
                </li>
            </ul>

            <!-- Tips Modal -->
            <div class="modal fade" id="addThingsMustDoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">添加必做的事</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" data-ng-model="newThingsMustDo">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addThingsMustDo()">
                                添加
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <label>小贴士:</label>
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tipsModal">
                <i class="glyphicon glyphicon-info-sign"></i>
                <span>添加一条小贴士</span>
            </button>

            <ul class="list-group" style="margin-top: 10px">
                <li class="list-group-item repeat" ng-repeat="tip in city.tips">
                    <button type="button" class="close" ng-click="deleteTip($index, 'update')">&times;</button>
                    <input ng-model="tip.text">
                </li>
            </ul>
            <label>城市封面:</label>
                <img class="thumbnail" style="height: 200px;width:250px"
                     src="http://7xijtn.com1.z0.glb.clouddn.com/{{city.coverUrl}}" alt="图片无法显示，请速联系管理员。">

            <!-- Tips Modal -->
            <div class="modal fade" id="tipsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">小贴士</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" data-ng-model="newTip">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTip('update')">
                                添加
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="container">
                <input type="hidden" id="domain" value="public-img.siyee.org">
                <input type="hidden" id="uptoken_url" value="/qiniu/city-image-upload-token">
                <button class="btn-default" id="pickfiles">
                    <i class="glyphicon glyphicon-picture"></i>
                    <sapn>添加图片</sapn>
                </button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3" data-ng-repeat="imgPath in city.album">
                        <a ng-click="selectImg(imgPath)" data-toggle="modal" data-target="#imageModal">
                            <img class="thumbnail" style="height: 200px;width:250px"
                                 src="http://7xijtn.com1.z0.glb.clouddn.com/{{imgPath}}" alt="图片无法显示，请速联系管理员。">

                        </a>
                        <i class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removePicture(imgPath)"></i>
                        <button class="button btn-sm btn-info pull-right" ng-click="setCoverUrl(imgPath)">设为封面</button>

                    </div>
                </div>

                <div style="display:none" id="success" class="col-md-12">
                    <div class="alert-success">
                        队列全部文件处理完毕
                    </div>
                </div>
                <div class="col-md-12 ">
                    <table class="table table-striped table-hover text-left" style="margin-top:40px;display:none">
                        <thead>
                        <tr>
                            <th class="col-md-4">Filename</th>
                            <th class="col-md-2">Size</th>
                            <th class="col-md-6">Detail</th>
                        </tr>
                        </thead>
                        <tbody id="fsUploadProgress">
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="row">
                <button class="btn btn btn-success" ng-click="update();">
                    <i class="glyphicon glyphicon-refresh"></i>
                    <span>更新城市信息</span>
                </button>
            </div>
            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalTitle">查看图片({{selectedImgWidth}} * {{ selectedImageHeight}})</h4>
                        </div>
                        <div class="modal-body">
                            <img src="{{selectedImg}}"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                好的
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
