<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title></title>
</head>
<body>
<div>
    <h2>【鲜任务】</h2>

    <p>[多彩任务]</p>
    <p>拒绝无聊，每个任务自带其地点的特色，让你体验不同的乐趣。</p>
    <p>[丰厚奖品]</p>
    <p>拯救剁手，玩乐的同时还能获得惊喜奖品，付出必有收获。</p>

    <p>[种类丰富]</p>
    <p>无限创意，任务样式种类繁多，再也不怕没地方玩！</p>

    <h2>【鲜线路】</h2>

    <p>[玩咖精选]</p>
    <p>资深玩咖精心挑选，路人不会懂。</p>

    <p>[深度探索]</p>
    <p>探索大街小巷里不为人知的特色地点，体验城市“深度游”。</p>

    <p>[主题路线] 丰富的主题路线，360度体验本地文化特色。</p>

    <h2>【玩鲜盒子】</h2>

    <p>[及时收藏]</p>
    <p>任务盒子及时收藏喜欢的鲜任务和鲜线路，精彩从不错过。</p>

    <p>[方便玩乐]</p>
    <p>交通导航、任务变更提醒等功能，让你更好地玩乐。</p>

    <p>[有效验证]</p>
    <p>完成任务后将验证码给商家查看验证，才可以获得任务奖励，保证了游戏用户的公正公平。</p>
</div>
</body>
</html>
