<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>玩鲜用户条款</title>
</head>
<body>


<div>
    <h1 style="text-align: center; font-size: 1.5em;">玩鲜网络服务平台用户协议</h1>

    <h2 style="font-size: 1.2em">玩鲜网络服务平台与用户共同确认：</h2>

    <p>
        1.用户点击玩鲜网络服务平台注册页面的同意注册按钮并完成注册程序、获得玩鲜网络服务平台账号和密码时，视为用户与玩鲜网络服务平台已达成《玩鲜网络服务平台用户协议》，就用户进入玩鲜网络服务平台享用玩鲜服务（即用户通过玩鲜网络服务平台与商家进行线下互动）达成本协议的全部约定。
    </p>
    <p>
        2.玩鲜网络服务平台及用户均已认真阅读本《玩鲜网络服务平台用户协议》(下称“本协议”)中全部条款（特别是以黑体字标示出的关于玩鲜网络服务平台及用户重大权益的条款）及玩鲜网络服务平台发布的其他全部服务条款和操作规则的内容，对本协议及前述服务条款和规则均以知晓、理解并接受，同意将其作为确定双方权利义务的依据。玩鲜网络服务平台《法律声明》为本协议的必要组成部分，用户接受本协议的同时即视为接受玩鲜网络服务平台《法律声明》的全部内容。
    </p>

    <h2>
        一、定义条款
    </h2>

    <p>
            1.“玩鲜服务”：通过互联网渠道获取信息，消费者线下到店进行任务挑战的活动。
    </p>
    <p>
            2.“玩鲜网络服务平台”：厦门信弈网络科技有限公司运营和管理的网络平台，其中包括域名为www.playfresh.cn的Web端服务平台、名为“玩鲜”的iOS客户端以及Android客户端移动服务平台。
            厦门信弈网络科技有限公司通过该网络服务平台为用户和商家提供查询并获取玩鲜服务的网络平台服务。本协议下文中，“玩鲜网络服务平台”既指玩鲜网络服务平台（www.playfresh.cn），亦指厦门信弈网络科技有限公司。
    </p>
    <p>
            3.“用户”：接受并同意本协议全部条款及玩鲜网络服务平台发布的其他全部服务条款和操作规则、通过玩鲜网络服务平台享受玩鲜服务的玩鲜网络服务平台注册会员。
    </p>
    <p>
            4.“商家”：通过玩鲜网络服务平台发布玩鲜服务信息、向用户提供玩鲜服务的自然人、法人和其他组织。
    </p>
    <p>
            5.“玩鲜服务信息”：商家通过玩鲜网络服务平台发布的，在玩鲜网络服务平台页面上展示的玩鲜服务信息，包括但不限于任务名称、描述、具体任务、奖励、有效期、服务时间、商家地址等内容。玩鲜服务信息在法律上构成商家就玩鲜服务向用户发出的要约。
    </p>
    <p>
            6.“电子服务凭证”：由玩鲜网络服务平台以页面、短信、电子邮件或其他方式向用户发送的电子形式的验证码，用于证明用户有权享受所领取的玩鲜服务。
    </p>

    <h2>二、用户注册</h2>

    <p>
        1.注册资格
    </p>
    <p>
        用户承诺：用户具有完全民事权利能力和行为能力或虽不具有完全民事权利能力和行为能力但经其法定代理人同意并由其法定代理人代理注册及应用玩鲜网络服务平台服务。</p>
    </p>
    <p>
        2.注册目的
    </p>

    <p>用户承诺：用户进行用户注册并非出于违反法律法规或破坏玩鲜网络服务平台网络团购交易秩序的目的。</p>

    <p>
        3.注册流程
    </p>
    <p>
        3.1用户同意根据玩鲜网络服务平台用户注册页面的要求提供有效手机号码、所在城市等信息，设置玩鲜网络服务平台账号及密码，用户应确保所提供全部信息的真实性、完整性和准确性。
    </p>
    <p>
                    3.2用户合法、完整并有效提供注册所需信息的，有权获得玩鲜网络服务平台账号和密码，玩鲜网络服务平台账号和密码用于用户在玩鲜网络服务平台进行会员登录。
    </p>
    <p>
                    3.3用户获得玩鲜网络服务平台账号及密码时视为用户注册成功，用户同意接收玩鲜网络服务平台发送的与玩鲜网络服务平台网站管理、运营相关的电子邮件和/或短消息。
    </p>

    <h2>三、用户服务</h2>

    <p>
        玩鲜网络服务平台为用户通过玩鲜网络服务平台进行查询并获取玩鲜服务提供网络平台服务，目前玩鲜网络服务平台对用户提供的玩鲜网络服务平台为免费服务，但玩鲜网络服务平台保留未来对玩鲜网络服务平台服务收取服务费用的权利。
    </p>
            1.服务内容:
    </p>
    <p>
                    1.1用户有权在玩鲜网络服务平台浏览玩鲜服务的信息、有权通过玩鲜网络服务平台获取玩鲜服务、 获得服务凭证等。
    </p>
    <p>
                    1.2用户有权在玩鲜网络服务平台查看其玩鲜网络服务平台会员账号下的信息，有权应用玩鲜网络服务平台提供的功能进行操作。
    </p>
    <p>1.3用户有权按照玩鲜网络服务平台发布的活动规则参与玩鲜网络服务平台组织的网站活动。
    </p>
    <p>
                    1.4玩鲜网络服务平台承诺为用户提供的其他服务。
    </p>
    <p>
     2.服务规则
    </p>
            <p>用户承诺遵守下列玩鲜网络服务平台服务规则：</p>
    </p>
    <p>
                    2.1用户应当遵守法律法规、规章、规范性文件及政策要求的规定，不得在玩鲜网络服务平台或利用玩鲜网络服务平台服务从事非法或其他损害玩鲜网络服务平台或第三方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息，发送或接收传销材料或存在其他危害的信息或言论，未经玩鲜网络服务平台授权使用或伪造玩鲜网络服务平台电子邮件题头信息等。
    </p>
    <p>2.1
                    用户应当遵守法律法规应当妥善使用和保管玩鲜网络服务平台账号及密码，对其玩鲜网络服务平台账号和密码下进行的行为和发生的事件负责。当用户发现玩鲜网络服务平台账号被未经其授权的第三方使用或存在其他账号安全问题时应立即有效通知玩鲜网络服务平台，要求玩鲜网络服务平台暂停该玩鲜网络服务平台账号的服务。玩鲜网络服务平台有权在合理时间内对用户的该等请求采取行动，但对采取行动前用户已经遭受的损失不承担任何责任。用户在未经玩鲜网络服务平台同意的情况下不得将玩鲜网络服务平台账号以赠与、借用、租用、转让或其他方式处分给他人。
    </p>
    <p>2.3
                    用户通过玩鲜网络服务平台获取玩鲜服务时，应当遵守本协议“玩鲜服务规则”的全部约定及玩鲜网络服务平台发布的其他关于玩鲜服务的服务条款和操作规则的全部规定。
    </p>
    <p>2.4
                    用户在玩鲜网络服务平台对玩鲜服务进行评价时应当根据实际情况如实进行评价。
    </p>
    <p>2.5
                    用户应当按照玩鲜网络服务平台发布的规则参加玩鲜网络服务平台抽奖等活动，遵守活动秩序。
    </p>
    <p>2.6
                    玩鲜网络服务平台发布的其他服务条款和操作规则。
     </p>

    <h2>四、玩鲜服务规则</h2>

    <p>
        用户承诺通过玩鲜网络服务平台获取玩鲜服务的过程中良好遵守如下玩鲜网络服务平台玩鲜服务规则。
    </p>
    </p>
    <p>1.
            浏览玩鲜服务信息
    </p>
            <p>
                用户在玩鲜网络服务平台浏览玩鲜服务的信息时，应当仔细阅读信息中包含的全部内容，包括但不限于任务名称、描述、具体任务、奖励、有效期、服务时间、商家地址等内容，其中用户应特别注意服务的有效期、服务时间等内容，用户完全接受信息中包含的全部内容后方可点击获取服务。
            </p>
        <p>
            2.获取玩鲜服务
        </p>
    <p>2.1
                    用户应当仔细阅读玩鲜任务卡及线路卡页面中所包含的全部内容，包括但不限于玩鲜服务信息中的全部内容，为再次提示用户注意而标明的服务的有效期等内容。如有，选择及确认获取该玩鲜服务。 前述玩鲜任务卡及线路卡页面中所包含的全部内容，构成了用户与商家之间达成的玩鲜服务的具体内容，用户完全同意玩鲜任务卡及线路卡页面中的全部内容后方可获取玩鲜服务。
    </p>
    <p>2.1
                    用户再次阅读并确认玩鲜任务卡及线路卡页面中的全部内容后方可点击确认获取玩鲜服务，用户确认获取玩鲜服务即视为用户已知晓、同意并接受该服务中的全部内容，与商家达成了玩鲜服务的具体内容。玩鲜任务卡及线路卡页面中所包含的全部内容即为玩鲜服务的具体内容，包括但不限于任务名称、描述、具体任务、奖励、有效期、服务时间、商家地址等内容，用户与商家均应当按照前述服务内容的约定履行各自的权利义务。
    </p>
    <p>3.
            电子服务凭证
    </p>
    <p>3.1
                    用户点击确认获取玩鲜服务成功后，玩鲜网络服务平台向用户发送电子服务凭证（下称“验证码”），用户可按照玩鲜服务内容的约定凭验证码向商家主张获得玩鲜服务。
    </p>
    <p>3.2
                    用户应当妥善保管验证码，因用户保管不善导致验证码被他人使用的，用户无权要求玩鲜网络服务平台重新发送验证码。
    </p>
    <p>3.3
                    用户获取玩鲜服务时，应向商家出示验证码，商家验证成功后按照玩鲜服务具体内容的约定向用户提供玩鲜服务。
    </p>
    <p>3.4
                    验证码于发生以下情形之一时即失效：
    </p>
    <p>3.4.1
                            凭验证码已获得玩鲜服务
    </p>
    <p>3.4.2
                            玩鲜服务内容中约定的有效期届满
    </p>
    <p>4.
            玩鲜服务争议解决规则
    </p>
            <p>
            如用户与商家因玩鲜服务的履行发生任何争议，包括但不限于任务名称、描述、具体任务、奖励、有效期、服务时间、商家地址等问题发生争议的，用户应与商家根据玩鲜服务具体内容的约定确定用户与商家各自的权利义务，承担各自的责任，解决争议。玩鲜网络服务平台可协助用户与商家之间争议的协商调解。
            </p>

    <h2>五、用户的权利和义务</h2>

    <p>
            1.用户有权按照本协议约定接受玩鲜网络服务平台提供的玩鲜网络服务平台网络交易平台服务。
    </p>
    <p>2.
            用户有权在注册时选择是否订阅玩鲜网络服务平台发送的关于团购信息的电子邮件或短消息，并在注册成功后有权随时订阅或退订玩鲜网络服务平台该等信息。
    </p>
    <p>3.
            用户在获取玩鲜服务的过程中，如发现玩鲜服务与玩鲜任务卡或玩鲜线路卡内容不符或存在服务态度等其他问题的，应与商家采取协商或其他方式予以解决，玩鲜网络服务平台可向用户提供商家的真实网站登记信息并积极协助用户与商家解决争议。
    </p>
    <p>4.
            用户有权随时终止使用玩鲜网络服务平台服务。
    </p>
    <p>5.
            用户在玩鲜网络服务平台查询并获取玩鲜服务时不得恶意干扰平台服务的正常进行、破坏玩鲜网络服务平台秩序。
    </p>
    <p>6.
            用户不得以任何技术手段或其他方式干扰玩鲜网络服务平台的正常运行或干扰其他用户对玩鲜网络服务平台服务的使用。
    </p>
    <p>7.
            用户不得以虚构事实等方式恶意诋毁玩鲜网络服务平台或商家的商誉。
    </p>
    <p>8.
            用户在点击确认获取玩鲜服务成功后应主动获取验证码。
    </p>
    <p>9.
            用户不得对玩鲜服务进行虚假评价或虚假投诉。
    </p>

    <h2>
        六、玩鲜网络服务平台的权利和义务
    </h2>

    <p>
            1.如用户不具备本协议约定的注册资格，则玩鲜网络服务平台有权拒绝用户进行注册，对已注册的用户有权注销其玩鲜网络服务平台会员账号，玩鲜网络服务平台因此而遭受损失的有权向前述用户或其法定代理人主张赔偿。同时，玩鲜网络服务平台保留其他任何情况下决定是否接受用户注册的权利。
    </p>
    <p>2.
            玩鲜网络服务平台发现账户使用者并非账户初始注册人时，有权中止该账户的使用。
    </p>
    <p>3.
            玩鲜网络服务平台通过技术检测、人工抽检等检测方式合理怀疑用户提供的信息错误、不实、失效或不完整时，有权通知用户更正、更新信息或中止、终止为其提供玩鲜网络服务平台服务。
    </p>
    <p>4.
            玩鲜网络服务平台有权在发现玩鲜网络服务平台上显示的任何信息存在明显错误时，对信息予以更正。
    </p>
    <p>5.
            用户点击确认获取玩鲜服务成功前，玩鲜网络服务平台有权接受商家委托对玩鲜服务内容作出变更.
            用户点击确认获取玩鲜服务成功后，如确因情况变化导致商家需对服务内容作出变更的，玩鲜网络服务平台有权接受商家委托单方对服务内容作出变更，如用户接受变更则按变更后的服务内容享受服务，如用户不接受变更则用户有权取消服务。
    </p>
    <p>6.
            玩鲜网络服务平台保留修改、中止或终止玩鲜网络服务平台服务的权利，玩鲜网络服务平台行使前述权利将按照法律规定的程序及方式告知用户。
    </p>
    <p>7.
            玩鲜网络服务平台应当采取必要的技术手段和管理措施保障玩鲜网络服务平台的正常运行，并提供必要、可靠的服务环境和服务，维护平台秩序。
    </p>
    <p>8.
            如用户连续一年未使用玩鲜网络服务平台会员账号和密码登录玩鲜网络服务平台，则玩鲜网络服务平台有权注销用户的玩鲜网络服务平台账号。账号注销后，玩鲜网络服务平台有权将相应的会员名开放给其他用户注册使用。
    </p>
    <p>9.
            玩鲜网络服务平台有权在本协议履行期间及本协议终止后保留用户的注册信息及用户应用玩鲜网络服务平台服务期间的全部服务信息，但不得非法使用该等信息。
    </p>
    <p>10.
            玩鲜网络服务平台有权随时删除玩鲜网络服务平台网站内各类不符合国家法律法规、规范性文件或玩鲜网络服务平台网站规定的用户评价等内容信息，玩鲜网络服务平台行使该等权利不需提前通知用户。
    </p>

    <h2>七、特别声明</h2>


    <p>1.
            不论在何种情况下，玩鲜网络服务平台对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务承担责任。
    </p>
    <p>2.
            为了用户更加方便和安全的使用玩鲜网络服务平台的服务，玩鲜网络服务平台将使用cookie，收集用户与玩鲜站点有关的特征信息，用于标识用户的设备。同时，玩鲜网络服务平台会积极采取先进的技术手段和有效的管理机制来保障用户的账户安全，保障用户的隐私信息不被任何未授权的使用或者泄露。
    </p>

    <h2>
        八、知识产权
    </h2>


    <p>1.
            玩鲜网络服务平台所包含的全部智力成果包括但不限于数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，软件编译、相关源代码和软件 (包括小应用程序和脚本)
            的知识产权权利均归玩鲜网络服务平台所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。
    </p>
    <p>2.
            玩鲜网络服务平台名称中包含的所有权利 (包括商誉和商标) 均归玩鲜网络服务平台所有。
    </p>
    <p>3.
            用户接受本协议即视为用户主动将其在玩鲜网络服务平台发表的任何形式的信息的著作权，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利无偿独家转让给玩鲜网络服务平台所有，玩鲜网络服务平台有权利就任何主体侵权单独提起诉讼并获得全部赔偿。本协议属于《中华人民共和国著作权法》第二十五条规定的书面协议，其效力及于用户在玩鲜网络服务平台发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。
    </p>
    <p>4.
            用户在使用玩鲜网络服务平台服务过程中不得非法使用或处分玩鲜网络服务平台或他人的知识产权权利。用户不得将已发表于玩鲜网络服务平台的信息以任何形式发布或授权其它网站（及媒体）使用。
    </p>

    <h2>九、客户服务</h2>

    <p>
        玩鲜网络服务平台建立专业的客服团队，并建立完善的客户服务制度，从技术、人员和制度上保障用户提问及投诉渠道的畅通，为用户提供及时的疑难解答与投诉反馈。
    </p>


    <h2>十、协议的变更和终止</h2>

    <p>
            1.协议的变更
            <p>
                玩鲜网络服务平台有权对本协议内容或玩鲜网络服务平台发布的其他服务条款及操作规则的内容进行变更，玩鲜网络服务平台将按照法律规定的程序及方式发布公告。如用户继续使用玩鲜网络服务平台提供的服务即视为用户同意该等内容变更，如用户不同意变更后的内容则用户有权注销玩鲜网络服务平台账户、停止使用玩鲜网络服务平台服务。
            </p>
    </p>
    <p>2.
            协议的终止
    </p>
    <p>2.1
                    玩鲜网络服务平台有权依据本协议约定注销用户的玩鲜网络服务平台账号，本协议于账号注销之日终止。
    </p>
    <p>2.2
                    玩鲜网络服务平台有权终止全部玩鲜网络服务平台服务，本协议于玩鲜网络服务平台全部服务依法定程序及方式终止之日终止。
    </p>
    <p>2.3
                    本协议终止后，用户无权要求玩鲜网络服务平台继续向其提供任何服务或履行任何其他义务，包括但不限于要求玩鲜网络服务平台为用户保留或向用户披露其原玩鲜网络服务平台账号中的任何信息，向用户或第三方转发任何其未曾阅读或发送过的信息等。
    </p>
    <p>2.4
                    本协议的终止不影响守约方向违约方追究违约责任。
     </p>

    <h2>十一、违约责任</h2>


    <p>1.
            玩鲜网络服务平台或用户违反本协议的约定即构成违约，违约方应当向守约方承担违约责任。
    </p>
    <p>2.
            如因用户违反法律法规规定或本协议约定，在玩鲜网络服务平台或利用玩鲜网络服务平台服务从事非法活动的，玩鲜网络服务平台有权立即终止继续对其提供玩鲜网络服务平台服务，注销其账号，并要求其赔偿由此给玩鲜网络服务平台造成的损失。
    </p>
    <p>3.
            如用户以技术手段干扰玩鲜网络服务平台的运行或干扰其他用户对玩鲜网络服务平台使用的，玩鲜网络服务平台有权立即注销其玩鲜网络服务平台账号，并有权要求其赔偿由此给玩鲜网络服务平台造成的损失。
    </p>
    <p>4.
            如用户以虚构事实等方式恶意诋毁玩鲜网络服务平台或商家的商誉，玩鲜网络服务平台有权要求用户向玩鲜网络服务平台或商家公开道歉，赔偿其给玩鲜网络服务平台或商家造成的损失，并有权终止对其提供玩鲜网络服务平台服务。
    </p>

    <h2>十二、争议解决</h2>

    <p>用户与玩鲜网络服务平台因本协议的履行发生争议的应通过友好协商解决，协商解决不成的，任一方有权将争议提交厦门仲裁委员会依据该会仲裁规则进行仲裁。</p>

    <h2>十三、协议生效</h2>

    <p>
        本协议于用户点击玩鲜网络服务平台注册页面的同意注册并完成注册程序、获得玩鲜网络服务平台账号和密码时生效，对玩鲜网络服务平台和用户均具有约束力。
    </p>

</div>


</body>
</html>
