<section data-ng-controller="QuotaRecordersController" data-ng-init="find()">
    <div class="page-header">
        <h1>查看所有请求</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="quotaRecorder in quotaRecorders" data-ng-href="#!/quota-recorders/{{quotaRecorder.id}}"
           class="list-group-item">
            <small class="list-group-item-text">
                申请时间：
                <span data-ng-bind="quotaRecorder.created | date:'yyyy-MM-dd'"></span>
                by
                「<span data-ng-bind="quotaRecorder.fromTenant.displayName"></span>」
                's task:
            </small>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="list-group-item-heading" data-ng-bind="quotaRecorder.fromTask.name"></h4>
                </div>

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <lable class="text-right"> 申请数量：</lable>
                        </div>
                        <div class="col-md-6">
                            <p class="text-left" data-ng-bind="quotaRecorder.quantity"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <lable class="text-right"> 处理结果：</lable>
                        </div>
                        <div class="col-md-6">
                            <span class="label label-success" ng-show="quotaRecorder.result==='pass'">已通过审核</span>
                            <span class="label label-default" ng-show="quotaRecorder.result==='unchecked'">未经审核</span>
                            <span class="label label-warning" ng-show="quotaRecorder.result==='deny'">未通过审核</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div>
        <pagination total-items="totalItems" ng-change="pageChanged()" max-size="7"
                    items-per-page="itemsPerPage" data-ng-model="currentPage"
                    boundary-links="true"></pagination>
    </div>
</section>
