<section data-ng-controller="QuotaRecordersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="quotaRecorder.fromTask.name"></h1>
    </div>
    <div class="white-card">
    <div class="form-group">
        <label class="control-label">请求商家: </label>
        <span>{{quotaRecorder.fromTenant.displayName}}</span>
    </div>
    <div class="form-group">
        <label class="control-label">请求任务: </label>
        <span>{{quotaRecorder.fromTask.name}}</span>
    </div>
    <div class="form-group">
        <label class="control-label">请求数量: </label>
        <span>{{quotaRecorder.quantity}}</span>
    </div>
    <div class="form-group">
        <label class="control-label">请求时间: </label>
        <span data-ng-bind="quotaRecorder.created | date:'yyyy-MM-dd HH:mm:ss.sss'"></span>
    </div>
    <div class="form-group">
        <lable class="control-label">处理人:</lable>
        <span>{{quotaRecorder.handler.displayName}}</span>
    </div>
    <div class="form-group">
        <lable class="control-label">处理时间:</lable>
        <span data-ng-bind="quotaRecorder.handleTime | date:'yyyy-MM-dd HH:mm:ss.sss'"></span>
    </div>
    <div class="form-group">
        <label class="control-label">处理结果</label>
        <span class="label label-success" ng-show="quotaRecorder.result==='pass'">已通过审核</span>
        <span class="label label-default" ng-show="quotaRecorder.result==='unchecked'">未经审核</span>
        <span class="label label-warning" ng-show="quotaRecorder.result==='deny'">未通过审核</span>

    </div>
    <div style="display: inline" ng-show="quotaRecorder.result === 'unchecked'">
        <button  class="btn btn btn-success"
                ng-click="checkQuotaRecorder('pass');">
            <i class="glyphicon glyphicon-ok-circle"></i>
            <span>审核通过</span>
        </button>
        <p></p>

        <div class="row">
            <div class="col-md-2">
                <button  class="btn btn-danger"
                        ng-click="checkQuotaRecorder('deny');">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>拒绝请求</span>
                </button>
            </div>
            <div class="col-md-10" class="controls">
                <input  type="text" data-ng-model="quotaRecorder.message"
                       id="bonus" class="form-control"
                       placeholder="拒绝理由(必填)" required>
            </div>
        </div>
    </div>
    </div>
</section>
